.contact-wrapper {
  width: 100%;
  display: flex;
 
  min-height: 3.5rem;
  max-height: 3.5rem;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;

  .contactComponent-container {
    width: 60%;
    display: flex;
    align-items: center;
    opacity: 0.9;
    transition: 300ms;
   

    &:hover {
      filter: brightness(1.3);
      opacity: 1;
      transition: 0.1s ease-in-out;
      cursor: pointer;
    }

    .contact-img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin-right: 2rem;
    }

    .contact-name {
      letter-spacing: 1px;
      justify-self: left;
    }
  }

  .contact-icons-container {
    display: flex;
    align-items: center;
    margin-right: 0.3rem;
   
  //  min-width: 5.2rem;
  //  max-width: 5.2rem;
    justify-content: space-between;

    img {
      width: 1.9rem;
      height: 1.9rem;

      &:hover {
        transform: scale(1.1);
        transition: 0.1s ease-in-out;
        cursor: pointer;
      }
    }
  }
}
