
//Dark Mode
$primary: #191b27;
$accent: #bb7000;
$secondary: #2d3342;
$fontColor: white;
$colorPlaceholder: rgb(28, 28, 28);


//////Light Mode
$primaryLight: #d9d9d9;
$secondaryLight: rgba(252, 252, 252, 0.918);
$accentLight: rgb(3, 3, 3);
$fontColorLight: black;
$colorPlaceholderLight: rgb(55, 55, 55);
