$primary: #191B27;
$accent:#bb7000;
$secondary:#2D3342;
$fontColor: white;
$colorPlaceholder:rgb(133, 132, 132);


$primaryLight:white;
$accentLight:rgb(3, 3, 3);
$fontColorLight:black;
$colorPlaceholderLight:rgb(194, 192, 192)